all: 
  children: 
    test: 
      hosts: 
        51.11.156.29:
      vars: 
        ansible_user: jenkins
        ansible_ssh_private_key_file: '~/.ssh/ansible_id_rsa'
        host_key_checking = False