all: 
  children: 
    test: 
      hosts: 51.11.156.29
        
      vars: 
        ansible_user: jenkins
        ansiblePlaybook credentialId: "private_key"
        ansible_ssh_private_key_file: '~/.ssh/ansible_id_rsa'
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'